@page "/pos";
@using SharedClass.Components.Layout
@using System.Globalization
@using SharedClass.Components.Data
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;
@inject ILocalStorageService localStorage;
@layout AdminLayout;

@if (isLoading)
{
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula tellus sed lacus semper, nec lobortis velit iaculis. Duis quis ultrices neque. Vestibulum vulputate lectus in posuere gravida. Aenean eu tortor sapien. Duis et egestas felis. Vivamus in felis nulla. Ut varius nunc blandit, egestas sapien sit amet, consequat sapien. Ut sit amet nunc vitae massa luctus lacinia. Phasellus porttitor, est id mollis commodo, leo nisi vestibulum lorem, dignissim tristique erat lectus non sem. Etiam mauris dui, viverra sit amet turpis et, tristique bibendum nunc. Aenean cursus bibendum nisl, a rhoncus augue. Mauris quis fringilla nunc. Cras sit amet sem et purus interdum tincidunt. Nunc vehicula porttitor erat, scelerisque lobortis justo semper id. Duis urna nunc, suscipit ac magna vitae, elementum rutrum felis. Integer maximus tincidunt vulputate.

        Sed id congue eros. Etiam mollis orci justo. Phasellus ultricies blandit bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eu rhoncus massa. Aliquam eu suscipit enim. Proin a nibh ut lectus congue sollicitudin. Nulla facilisi. Maecenas tincidunt in lacus a pharetra. Nulla non felis nec massa fermentum pellentesque eu sed massa. Ut tempus lorem sit amet metus pulvinar maximus. Proin at feugiat enim, non laoreet arcu. Etiam tellus metus, congue quis purus nec, vehicula porttitor orci. Praesent non sem erat. Proin tincidunt massa et odio elementum, vel ullamcorper mauris sollicitudin. Cras ac justo finibus arcu interdum porta.

        Mauris varius justo sed nibh tincidunt tempus. Integer convallis in tortor at vehicula. Donec scelerisque, metus ac aliquam vulputate, nunc ex ultrices erat, vel mollis tortor diam condimentum neque. Mauris et auctor sem. Phasellus nec diam cursus, laoreet lectus nec, lacinia nibh. Suspendisse ac elit augue. Quisque quis eleifend erat.

        Sed vitae dignissim orci. Aenean bibendum nisl id libero rutrum, et dapibus massa ullamcorper. Quisque fringilla interdum justo non lacinia. Vivamus id vulputate augue. Mauris ultrices luctus ex. Nam lobortis nunc vel ultricies pellentesque. Duis ac nisl condimentum, sagittis magna ac, lobortis nisl. Sed condimentum tellus quam, a consectetur dolor consequat quis. Cras vel ornare magna. Nullam id interdum enim. Vestibulum in nibh convallis, hendrerit eros sit amet, bibendum dui. Praesent lorem nisl, laoreet eget convallis a, elementum non justo. Cras at tellus eget arcu sagittis ornare. Quisque vestibulum dignissim felis sit amet varius. Sed rutrum semper ipsum, eu finibus dolor fermentum at. Etiam sed metus vel ante ultricies sollicitudin sed et ipsum.

        Duis viverra molestie sodales. Aliquam id urna quis ligula faucibus lobortis. Nunc auctor, nisl in pretium tincidunt, magna enim efficitur quam, non pretium tellus arcu quis ante. Ut vel nisl vel odio viverra facilisis. Aliquam est eros, maximus ut imperdiet ac, hendrerit eu lorem. Sed consectetur scelerisque massa, sit amet tempor elit mattis vitae. Fusce quam dolor, feugiat at ligula vel, posuere posuere risus. Ut tortor quam, placerat vitae neque in, placerat tempor massa. Nunc at elit vitae libero faucibus pulvinar. Phasellus sed orci ac massa scelerisque vehicula convallis id eros. Aliquam ornare bibendum libero, in pulvinar ligula aliquam sit amet. Sed scelerisque augue eu purus venenatis, ac rutrum magna suscipit.
    </p>
}

@code {
    bool isLoading = false;
    public bool isAuthorized { get; set; }
    protected override async void OnInitialized()
    {
        var cookieContent = await localStorage.GetItemAsync<bool>("Authorized");
        isAuthorized = cookieContent;
        if (isAuthorized)
        {
            isLoading = true;
            StateHasChanged();
        }
        else
        {
            isLoading = false;
            NavigationManager.NavigateTo("/adminlogin");
            Snackbar.Clear();
            Snackbar.Add("Not Authorized", Severity.Error);
        }
        base.OnInitialized();
    }
}