@page "/production";

@using SharedClass.Components.Layout
@using SharedClass.Components.Data
@using System.Globalization

@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage _protectedLocalStore;

@layout AdminLayout;

<h4>Forms</h4>
<div class="row m-auto">
    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestPage" Href="/billofmaterial" Style="border-radius:10px">
                Bill of Material
            </MudListItem>
        </MudList>
    </MudPaper>

    <MudPaper Width="300px" Elevation="1" Style="margin-right:20px; border-radius:10px; margin-bottom: 20px;">
        <MudList Clickable="true">
            <MudListItem Avatar="@Icons.Material.Outlined.RequestQuote" Href="/productionorder/new-production-order" Style="border-radius:10px">
                Production Order
            </MudListItem>
        </MudList>
    </MudPaper>
</div>

@code {

}
