@using BlazorBootstrap
@using Radzen.Blazor
@inherits LayoutComponentBase

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<main class="p-5">
    <RadzenContextMenu />
    <RadzenDialog />
    <RadzenNotification />
    <RadzenTooltip />
    @Body
</main>
