@using SharedClass.Components.Layout

@inject Login login;
@inject IJSRuntime JSRuntime;
@inherits LayoutComponentBase;
@inject ProtectedLocalStorage _protectedLocalStore;

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<NavMenu />

<main class="p-1">
    <MudThemeProvider />
    <MudDialogProvider FullWidth="true"
                       MaxWidth="MaxWidth.ExtraSmall"
                       CloseButton="true"
                       DisableBackdropClick="false"
                       NoHeader="false"
                       Position="DialogPosition.Center"
                       CloseOnEscapeKey="true" />
    <MudSnackbarProvider />
    @Body
</main>

@code {
    string[] itemNames = new[] { "BulkMemory", "BulkCooler", "BulkStorage", "BulkCase", "BulkProcessor", "BulkPSU", "BulkMotherboard", "BulkGPU", "BulkAccessory", "BulkLaptop" };
    string[] itemQuantities = new[] { "BulkMemoryQuantity", "BulkCoolerQuantity", "BulkStorageQuantity", "BulkCaseQuantity", "BulkProcessorQuantity", "BulkPSUQuantity", "BulkMotherboardQuantity", "BulkGPUQuantity", "BulkAccessoryQuantity", "BulkLaptopQuantity" };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "Authorized") && await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "Username"))
            {
                await _protectedLocalStore.SetLocalAsync("Authorized", false);
                string User = await _protectedLocalStore.GetLocalAsync<string>("Username");
                await login.LogOut(User);
                await _protectedLocalStore.SetLocalAsync("Username", "");
            }

            foreach (var itemName in itemNames)
            {
                await _protectedLocalStore.SetLocalAsync(itemName, "");
            }

            foreach (var itemQuantity in itemQuantities)
            {
                await _protectedLocalStore.SetLocalAsync(itemQuantity, "");
            }
        }
        StateHasChanged();
    }
}