@using SharedClass.Components.Layout
@inherits LayoutComponentBase

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<NavMenu />

<main class="p-1">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    @Body
</main>