@page "/products";

@inject Select select;
@inject Connection con;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;
@inject ProtectedLocalStorage _protectedLocalStore;

<MudTabs Centered="true" Rounded="true" PanelClass="pa-6" Class="m-auto" Style="width:99vw">
    @foreach (var itemType in GetItemTypes())
    {
        <MudTabPanel Text="@itemType">
            @if (itemType == "Motherboard")
            {
                <Motherboard isBulk="true" />
            }
            else if (itemType == "Processor")
            {
                <Processor isBulk="true" />
            }
            else if (itemType == "Graphics Card")
            {
                <GPU isBulk="true" />
            }
            else if (itemType == "Gaming Case")
            {
                <Case isBulk="true" />
            }
            else if (itemType == "Memory")
            {
                <Memory isBulk="true" />
            }
            else if (itemType == "Storage")
            {
                <Storage isBulk="true" />
            }
            else if (itemType == "Power Supply")
            {
                <PSU isBulk="true" />
            }
            else if (itemType == "Cooler")
            {
                <Cooler isBulk="true" />
            }
            else if (itemType == "Laptop")
            {
                <Laptop />
            }
            else if (itemType == "Accessories")
            {
                <Accessory />
            }
            else
            {
                <h1>Inventory is empty</h1>
            }
        </MudTabPanel>
    }
</MudTabs>

@code {
    private List<string> GetItemTypes()
    {
        using (SqlConnection db = new SqlConnection(con.connectionString))
        {
            return db.Query<string>("SELECT DISTINCT ItemType FROM Items").ToList();
        }
    }
}
