@page "/signup";

@using SharedClass.Components.Layout

@inject Login login;
@layout AdminLayout;

@* <div class="mt-5 bg-white modal-content p-1 m-auto shadow-sm" style="border-radius:20px;max-inline-size: fit-content;">
    <div class="modal-header text-center" style="align-self: center;">
        <h5 class="modal-title heading text-center p-1">Create User</h5>
    </div>
    <div class="modal-body p-1 m-auto">
        <EditForm Model="@login">
            <div class="mb-3"> *@
@* <label for="usernameInput" class="form-label text-black">Username</label> *@
@* <InputText id="usernameInput" placeholder="Username" class="form-control" @bind-Value="Username" />
            </div>
            <div class="mb-3"> *@
@* <label for="passwordInput" class="form-label text-black">Password</label> *@
@* <InputText id="passwordInput" placeholder="Password" type="password" class="form-control" @bind-Value="Password" />
            </div>
            <div class="mb-3"> *@
@* <label for="contactInput" class="form-label text-black">Contact</label> *@
@* <InputText id="ContactInput" placeholder="Contact" type="contact" class="form-control" @bind-Value="Contact" />
            </div>
            <div class="mb-3"> *@
@* <label for="roleInput" class="form-label text-black">Role</label> *@
@* <InputText id="RoleInput" placeholder="Role" type="role" class="form-control" @bind-Value="Role" />
            </div>
            <button type="submit" class="btn btnpc btn-primary m-1">Create</button>
        </EditForm>
    </div>
</div> *@

<style>
    * {
    }

    body {
        background-color: #181818;
    }

    section {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-wrap: wrap;
        overflow: hidden;
        left: 0;
    }

        section::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(#000,#0f0,#000);
            animation: animate 5s linear infinite;
        }

        section span {
            position: relative;
            display: block;
            width: calc(6.25vw - 2px);
            height: calc(6.25vw - 2px);
            background: #181818;
            z-index: 2;
            transition: 1.5s;
        }

            section span:hover {
                background: #0f0;
                transition: 0s;
            }

        section .signin {
            position: absolute;
            width: 400px;
            background: #222;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            padding-top: 15px;
            border-radius: 4px;
            box-shadow: 0 15px 35px rgba(0,0,0,9);
        }

            section .signin .content {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }

                section .signin .content h2 {
                    font-size: 2em;
                    color: #0f0;
                    text-transform: uppercase;
                }

                section .signin .content .form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                }

                    section .signin .content .form .inputBox {
                        position: relative;
                        width: 100%;
                    }

                        section .signin .content .form .inputBox input {
                            position: relative;
                            width: 100%;
                            background: #333;
                            border: none;
                            outline: none;
                            padding: 25px 10px 7.5px;
                            border-radius: 4px;
                            color: #fff;
                            font-weight: 500;
                            font-size: 1em;
                        }

                        section .signin .content .form .inputBox i {
                            position: absolute;
                            left: 0;
                            padding: 15px 10px;
                            font-style: normal;
                            color: #aaa;
                            transition: 0.5s;
                            pointer-events: none;
                        }

    .signin .content .form .inputBox input:focus ~ i,
    .signin .content .form .inputBox input:valid ~ i {
        transform: translateY(-7.5px);
        font-size: 0.8em;
        color: #fff;
    }

    .signin .content .form .links {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        .signin .content .form .links a {
            color: #fff;
            text-decoration: none;
        }

            .signin .content .form .links a:nth-child(2) {
                color: #0f0;
                font-weight: 600;
            }

    .signin .content .form .inputBox input[type="submit"] {
        padding: 10px;
        background: #0f0;
        color: #000;
        font-weight: 600;
        font-size: 1.35em;
        letter-spacing: 0.05em;
        cursor: pointer;
    }

    input[type="submit"]:active {
        opacity: 0.6;
    }

    media (max-width: 900px) {
        section span

    {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }

    }

    media (max-width: 600px) {
        section span

    {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }

    }
</style>

<section>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>

    <div class="signin" style="border-radius: 20px; margin-top: -70px;">

        <div class="content">

            <h2>Create a New User</h2>

            <EditForm class="form" Model="@login" autocomplete="off">

                <div class="inputBox">
                    <InputText placeholder="Username" class="form-control" @bind-Value="Username" />
                </div>

                <div class="inputBox">
                    <InputText placeholder="Password" type="password" class="form-control" @bind-Value="Password" />
                </div>

                <div class="inputBox">
                    <InputText placeholder="Contact" type="contact" class="form-control" @bind-Value="Contact" />
                </div>

                <div class="inputBox">
                    <InputText placeholder="Contact" type="address" class="form-control" @bind-Value="Address" />
                </div>

                <div class="inputBox">
                    <InputText placeholder="Role" type="role" class="form-control" @bind-Value="Role" />
                </div>

                <div class="inputBox">
                    <input type="submit" value="Create">
                </div>

            </EditForm>

        </div>

    </div>

</section>

@code {
    private string Role = string.Empty;
    private string Address = string.Empty;
    private string Contact = string.Empty;
    private string Username = string.Empty;
    private string Password = string.Empty;
}
