@page "/dashboard";

@layout AdminLayout;
@inject ISnackbar Snackbar;
@inject IJSRuntime JSRuntime;

<div class="m-auto">
    <Insights />
</div>

<script defer>
    window.disableBackGesture = function () {
        window.history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event) {
            window.history.pushState(null, document.title, location.href);
        });
    };

    window.enableBackGesture = function () {
        window.removeEventListener('popstate', function (event) {
            window.history.pushState(null, document.title, location.href);
        });
    };
</script>

@code {
    protected override void OnInitialized()
    {
        StateHasChanged();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("disableBackGesture");
        }
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("enableBackGesture");
    }
}